.badge:hover {
  transform: scale(1.08);
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fffa;
  cursor: pointer;
}
